* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.background {
    background: #f6f9fc;
    padding: 50px 0;
}

.background-2 {
    background: #e1ebf4;
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: auto;
}

.a-flex {
    justify-content: space-between;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.c-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.RText {
    text-align-last: right;
}

input, button {
    border: none;
    outline: none;
    background-color: none;
}

.row {
    width: 50%;
}

.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3f5f9;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
}

.boxShadow {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*------Category-----------*/
.contentWidth {
    width: 77%;
    float: right;
    margin-top: -450px;
}

.category {
    width: 23%;
    height: 510px;
    padding: 15px 0;
    border-radius: 5px;
    /* margin-top: 5px; */
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
}

.category img {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    object-fit: contain;
}

.category span {
    margin: 10px 20px;
    text-transform: capitalize;
}

.category .more {
    align-content: center;
    align-items: center;
}

.category .box {
    transition: 0.5s;
    padding: 0 20px;
}

.category .box:hover {
    background-color: #ffe1e6;
    cursor: pointer;
}

/*------Slider-----------*/
.btn-primary {
    background: #e94560;
    padding: 13px 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

/*------Flash Deals-----------*/
.heading svg {
    color: #e94560;
    margin: 0 10px;
}

/*---------product-----------*/
.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
}

.product h3 {
    font-weight: 400;
    font-size: 17px;
}

.flash .product h3 {
    margin-top: 10px;
}

.flash .heading h1 {
    margin-top: 4px;
}

.product .rate svg {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
}

.product .rate {
    display: flex;
    align-items: center;
}

.price button:first-child {
    margin-right: 10px;
}

.flash .product .img img {
    width: 100%;
    height: 270px;
}

.product .product-details span {
    margin-top: 5px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5);
}

.product .product-details .price button svg {
    font-size: 18px;
}

.price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    line-height: 15px;
    border-radius: 5px;
}

.price button:hover {
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
}

.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}

.product-like i {
    font-size: 20px;
    margin: 10px 3px;
}

.product:hover .product-like {
    opacity: 1;
}

.product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
    border-radius: 50px;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    background: #e94560;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
}

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    line-height: 62px;
    background: #0f3460;
    border-radius: 50%;
    transform: 0.5s;
    z-index: 5;
}

.control-btn .prev {
    left: -20px;
}

.control-btn .next {
    right: -20px;
}

.control-btn .prev svg,
.control-btn .next svg {
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}

.control-btn .prev:hover,
.control-btn .next:hover {
    background: #e94560;
    color: white;
    cursor: pointer;
}
/*----- control btn -------*/

/*----- heading -------*/
.heading .heading-left svg {
    font-size: 30px;
}

.heading .heading-left h2 {
    font-size: 20px;
    /* margin: 5px; */
}

.heading .heading-right,
.heading .heading-right svg {
    text-align: right;
    color: grey;
}

/*----- heading -------*/

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.annocument .img:first-child {
    width: 30%;
    height: 340px;
}

.annocument .img:nth-child(2) {
    width: 68%;
    height: 340px;
}